<div class="diceTypes">
	<label style="margin-right: 10px">{{label}}</label>
	<select id="diceTypes" onchange="document.getElementById('diceTypeIcon').src = '{{path}}' + event.target.value + '.webp'">
		{{#each diceTypes}}
		<option id={{id}} value={{type}}>{{type}}</option>
		{{/each}}
	</select>
	<img id="diceTypeIcon" src="{{path}}d6.webp" style="width: 50px; height: 50px; margin-left: 10px; background-color: {{dieColor}};"/>
</div>